asgiref==3.9.1
blinker==1.9.0
click==8.2.1
colorama==0.4.6
Django==5.2.4
docx2pdf==0.1.8
fire==0.7.0
Flask==3.1.1
fonttools==4.58.4
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.4.0
MarkupSafe==3.0.2
numpy==2.3.1
opencv-python-headless==4.11.0.86
pdf2docx==0.5.8
pillow==11.2.1
PyMuPDF==1.26.1
pypdf==5.6.1
python-docx==1.2.0
pywin32==311
sqlparse==0.5.3
termcolor==3.1.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
Werkzeug==3.1.3
